/* Added some characteristics for the search container */
/* Had to make sure to add flex wrap, align and justify content center so the page wraps when shrinked */
.container-search {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* to edit the input, specified that its a text form and gave it some design + attributes */
/* also had to give it some margin so it doesnt interfere with the other container above */
input[type=text] {
  width: 100%;
  height: 37px;
  border: 1px solid #ccc;
  padding: 6px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
}

/* created the design for the buttons, added a background color too and gave it some characteristics */
.lucky-butt, .search-butt {
  width: 200px;
  height: 50px;
  background-color: rgb(85, 85, 85);
  border: none;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

/* Just had to link the variable i created to prevent recurring code and design using @extend */
/* created a button hover attribute that creates a shade once you hover the mouse over the buttons */
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
}

body {
  text-align: center;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 550px;
  height: auto;
  margin-top: 150px;
}

/* created a sass variable to not have recurring styling code */
.return-links-div, .return-links-a, .back-to-google, .advsearch, .imgsearch {
  position: absolute;
  font-size: 18px;
  color: black;
  font-family: Arial, sans-serif;
}

/* had to create a new  variable and use @extend as the website was not updating the design based on
how i wanted it. */
.imgsearch {
  top: 7px;
  right: 180px;
}

/*                                                           */
.advsearch {
  top: 7px;
  right: 20px;
}

.back-to-google {
  top: 7px;
  right: 180px;
}

/* used @media query in order to make the website responsive */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}
.advanced-search-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.advanced-search-form h2 {
  margin-right: 10px;
  font-family: Arial, sans-serif;
}

.adv-forms label {
  display: block;
  font-size: 19px;
  font-family: Arial, sans-serif;
}

.adv-forms input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  align-items: left;
}

.adv-forms {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/*added design and attributes for the adv search button +  background color similar to that of google */
.advanced-search-button {
  display: block;
  width: 140px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
}

h3 {
  margin-top: 65px;
  font-size: 19px;
  font-family: Arial, sans-serif;
  text-align: left;
}

h2 {
  margin-top: 45px;
  font-size: 23px;
  font-family: Arial, sans-serif;
  text-align: left;
}

/* created a simple seperator, a horizontal line that seporates adv search and the forms */
.seperator {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  margin-top: 35px;
}/*# sourceMappingURL=search.css.map */